{% extends 'partial/base.html' %}

{% block content %}
<section class="cta">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cta-block">
                    <div class="emmergency item">
                        <i class="fa fa-phone"></i>
                        <h2>En cas d'urgence</h2>
                        <a href="#">+225 07 07 05 06 04</a>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="top-doctor item">
                        <i class="fa fa-stethoscope"></i>
                        <h2>Service 24h/24</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore dignissimos officia dicta suscipit vel eum</p>
                        <a href="#" class="btn btn-main">Read more</a>
                    </div>
                    <div class="working-time item">
                        <i class="fa fa-hourglass-o"></i>
                        <h2>Heure de travail</h2>
                        <ul class="w-hours">
                            <li>Lun - Ven  - <span>8:00 - 17:00</span></li>
                            <li>Lun - Ven  - <span>8:00 - 17:00</span></li>
                            <li>Lun - Ven  - <span>8:00 - 17:00</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}