<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans">
    <div class="flex">
       
        <aside class="w-64 bg-red-800 text-white h-screen">
            
            <div class="py-4 px-6">
                <h1 class="text-2xl font-semibold">Dashboard</h1>
            </div>
           
            <nav>
                <ul class="space-y-2 mt-6">
                    <li><a href="{%url 'accueil' %}" class="block px-6 py-2 text-sm hover:bg-gray-600">enregistrer une présence</a></li>
                </ul>
            </nav>
        </aside>
        <!-- Contenu principal -->
        <main class="flex-1 p-4">
            
            <form action="" method="POST">
                {% csrf_token %}
                <div class="mb-4">
                    <input type="search" name="recherche" placeholder="Entrez le nom rechercher ici" class="w-full px-4 py-2 rounded-md border focus:outline-none focus:border-blue-500">
                </div>
            </form>
            
            <div class="bg-white shadow-md rounded-lg overflow-hidden">
                <table class="w-full">
                    <thead>
                        <tr>
                            <th class="px-6 py-3 bg-gray-100 border-b">Nom</th>
                            <th class="px-6 py-3 bg-gray-100 border-b">Prenom</th>
                            <th class="px-6 py-3 bg-gray-100 border-b">Téléphone</th>
                            <th class="px-6 py-3 bg-gray-100 border-b">Email</th>
                            <th class="px-6 py-3 bg-gray-100 border-b">Date et heure</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for inscrit in inscrit  %}
                        <tr>
                            <td class="px-6 py-4 border-b">{{inscrit.nom}}</td>
                            <td class="px-6 py-4 border-b">{{inscrit.prenom}}</td>
                            <td class="px-6 py-4 border-b">{{inscrit.telephone}}</td>
                            <td class="px-6 py-4 border-b">{{inscrit.email}}</td>
                            <td class="px-6 py-4 border-b">{{inscrit.date_presence}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</body>
</html>
